<div class="library">
  <lu-filter-bar class="library__filter-bar">
    <ng-template luFilterPillAddonBefore>
      <lu-form-field label="Recherche" [hiddenLabel]="true" class="library__search">
        <lu-text-input [hasSearchIcon]="true" [(ngModel)]="search" (ngModelChange)="onSearchChange($event)" />
      </lu-form-field>
    </ng-template>

    <lu-filter-pill label="Genre">
      <lu-simple-select [options]="genres" [(ngModel)]="selectedLabel" (ngModelChange)="applyFilters($event)" />
    </lu-filter-pill>
  </lu-filter-bar>

  <div class="library__carousels">
    @if (jeuxParGenre$ | async; as jeuxParGenre) {
      @for (item of jeuxParGenre; track item.genre) {
        <app-carousel [label]="item.genre" [jeux]="item.jeux" />
      }
    }
  </div>

  
</div>
