:host {
  display: block;
}
.card {
    flex: 0 0 150px;
    width: 150px;
    aspect-ratio: auto;
    border-radius: 12px;
    background: #dbe2f5;
    padding: 0;
    img {
      border-radius: 12px;
      width: 100%;
      height: 100%;
    }
 }
 